@model ParticipantsModel
@{
    Layout = "";

    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    Html.AppendPageCssClassParts("html-registration-page");
}

<div class="page registration-page" id="modal-register-participants-@Model.NoticeBoardId">
    <div class="page-title">
        <h1>@T("Account.Register")</h1>
    </div>
    <div class="page-body">
        <div id="thank-you-page-load-@Model.NoticeBoardId">
            @Html.Raw(Model.Notice)

            @if (Model.IsDisplayForm)
            {
                <div class="form-fields">
                    <div class="buttons">
                        <button type="button" name="show-register-button" id="show-register-button-@Model.NoticeBoardId" class="button-1 register-next-step-button">@T("Account.Register.Button")</button>
                    </div>
                </div>
            }

        </div>
        @if (Model.IsDisplayForm)
        {
            <div id="resgister-participants-form-@Model.NoticeBoardId">
                <form asp-route="RegisterParticipants" method="post" autocomplete="off" id="register-participants-form-submit-@Model.NoticeBoardId">
                    <div asp-validation-summary="ModelOnly" class="message-error"></div>
                    <div class="fieldset">
                        <div class="title">
                            <strong>@T("Account.YourPersonalDetails")</strong>
                        </div>
                        <div class="form-fields">

                            <input type="hidden" asp-for="NoticeBoardId" />
                            <div class="inputs">
                                <label asp-for="Name" asp-postfix=":"></label>
                                <input asp-for="Name" />

                                <nop-required />

                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="inputs">
                                <label asp-for="EmailAddress" asp-postfix=":"></label>
                                <input asp-for="EmailAddress" />
                                <nop-required />
                                <span asp-validation-for="EmailAddress"></span>
                            </div>


                            <div class="inputs">
                                <label asp-for="City" asp-postfix=":"></label>
                                <input asp-for="City" />

                                <nop-required />

                                <span asp-validation-for="City"></span>
                            </div>
                            <div class="inputs">
                                <label asp-for="PhoneNumber" asp-postfix=":"></label>
                                <input asp-for="PhoneNumber" />

                                <nop-required />

                                <span asp-validation-for="PhoneNumber"></span>
                            </div>

                        </div>
                        <div class="buttons">
                            <button type="submit" name="register-button" id="register-button-@Model.NoticeBoardId" class="button-1 register-next-step-button">@T("Account.Register.Button")</button>
                        </div>
                    </div>
                </form>
            </div>
        }
    </div>
</div>


