@model ProductDetailsModel
@{
    Html.AddScriptParts(ResourceLocation.Footer, "~/lib_npm/magnific-popup/jquery.magnific-popup.min.js");
    Html.AddCssFileParts("~/lib_npm/magnific-popup/magnific-popup.css");
}

<div class="gallery">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsBeforePictures, additionalData = Model })
    <div class="picture">

        @if (Model.DefaultPictureZoomEnabled && Model.PictureModels.Count == 1)
        {
            if (Model.IsVerified)
            {
                if (Model.IsVerified)
                {
                    <div class="image-container">

                        <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                            <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
                        </a>
                        <svg viewBox="0 0 24 24"
                 aria-hidden="true"
                 class="r-1cvl2hr r-4qtqp9 r-yyyyoo r-1yjpyg1 r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr watermark"
                 data-testid="verificationBadge"
                 version="1.1"
                 id="svg965"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                            <defs id="defs969" />
                            <g id="g963"
                   style="fill:#1d9bf0;fill-opacity:1">
                                <path d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z"
                          id="path961"
                          style="fill:#1d9bf0;fill-opacity:1" />
                            </g>
                        </svg>

                    </div>
                }
                else
                {
                    <a href="@Model.DefaultPictureModel.FullSizeImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-lightbox-anchor-@Model.Id">
                        <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
                    </a>
                }
            }
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('#main-product-img-lightbox-anchor-@Model.Id').magnificPopup({ type: 'image' });
                });
            </script>
        }
        else
        {

            if (Model.IsVerified)
            {
                <div class="image-container">

                    <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />
                    <svg viewBox="0 0 24 24"
                 aria-hidden="true"
                 class="r-1cvl2hr r-4qtqp9 r-yyyyoo r-1yjpyg1 r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr watermark"
                 data-testid="verificationBadge"
                 version="1.1"
                 id="svg965"
                 xmlns="http://www.w3.org/2000/svg"
                 xmlns:svg="http://www.w3.org/2000/svg">
                        <defs id="defs969" />
                        <g id="g963"
                   style="fill:#1d9bf0;fill-opacity:1">
                            <path d="M22.25 12c0-1.43-.88-2.67-2.19-3.34.46-1.39.2-2.9-.81-3.91s-2.52-1.27-3.91-.81c-.66-1.31-1.91-2.19-3.34-2.19s-2.67.88-3.33 2.19c-1.4-.46-2.91-.2-3.92.81s-1.26 2.52-.8 3.91c-1.31.67-2.2 1.91-2.2 3.34s.89 2.67 2.2 3.34c-.46 1.39-.21 2.9.8 3.91s2.52 1.26 3.91.81c.67 1.31 1.91 2.19 3.34 2.19s2.68-.88 3.34-2.19c1.39.45 2.9.2 3.91-.81s1.27-2.52.81-3.91c1.31-.67 2.19-1.91 2.19-3.34zm-11.71 4.2L6.8 12.46l1.41-1.42 2.26 2.26 4.8-5.23 1.47 1.36-6.2 6.77z"
                          id="path961"
                          style="fill:#1d9bf0;fill-opacity:1" />
                        </g>
                    </svg>

                </div>
            }
            else
            {
                <img alt="@Model.DefaultPictureModel.AlternateText" src="@Model.DefaultPictureModel.ImageUrl" title="@Model.DefaultPictureModel.Title" id="main-product-img-@Model.Id" />

            }




        }
    </div>
    @if (Model.PictureModels.Count > 1 && Model.DefaultPictureZoomEnabled)
    {
        <div class="picture-thumbs" style="height: 400px; overflow-y: scroll">
            @foreach (var picture in Model.PictureModels)
            {
                <a class="thumb-item" href="@picture.FullSizeImageUrl" alt="@picture.AlternateText" title="@picture.Title">
                    <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                </a>
            }
        </div>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.picture-thumbs').magnificPopup(
                    {
                        type: 'image',
                        delegate: 'a',
                        removalDelay: 300,
                        gallery: {
                            enabled: true,
                            navigateByImgClick: true,
                            preload: [0, 1],
                            tPrev: '@T("Media.MagnificPopup.Previous")',
                            tNext: '@T("Media.MagnificPopup.Next")',
                            tCounter: '@T("Media.MagnificPopup.Counter")'
                        },
                        tClose: '@T("Media.MagnificPopup.Close")',
                        tLoading: '@T("Media.MagnificPopup.Loading")'
                    });
            });
        </script>
        <script asp-location="Footer">
            $(document).ready(function () {
                $('.thumb-item > img').on('click',
                    function () {
                        $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                        $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                        $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('href', $(this).attr('data-fullsize'));
                        $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                    });
            });
        </script>
    }
    else
    {
        if (Model.PictureModels.Count > 1)
        {
            <div class="picture-thumbs">
                @foreach (var picture in Model.PictureModels)
                {
                    <div class="thumb-item">
                        <img src="@picture.ThumbImageUrl" alt="@picture.AlternateText" title="@picture.Title" data-defaultsize="@picture.ImageUrl" data-fullsize="@picture.FullSizeImageUrl" />
                    </div>
                }
            </div>
            <script asp-location="Footer">
                $(document).ready(function () {
                    $('.thumb-item img').on('click',
                        function () {
                            $('#main-product-img-@Model.Id').attr('src', $(this).attr('data-defaultsize'));
                            $('#main-product-img-@Model.Id').attr('title', $(this).attr('title'));
                            $('#main-product-img-@Model.Id').attr('alt', $(this).attr('alt'));
                            $('#main-product-img-lightbox-anchor-@Model.Id')
                                .attr('href', $(this).attr('data-fullsize'));
                            $('#main-product-img-lightbox-anchor-@Model.Id').attr('title', $(this).attr('title'));
                        });
                });
            </script>
        }
    }
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductDetailsAfterPictures, additionalData = Model })
</div>