@model EMIModel

@{
    Layout = "_ConfigurePlugin";
}

<div class="content">
    <div class="form-horizontal">
        <div class="cards-group">
            <div class="card card-default">
                <div class="card-body">
                    
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Month" />
                        </div>
                        <div class="col-md-9">
                            <nop-select asp-for="Month" asp-items="Model.AvailableMonth" />
                            <span asp-validation-for="Month"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Rate" />
                        </div>
                        <div class="col-md-9">
                            <label asp-for="Rate">@Model.Rate.ToString("0")</label>

                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="Amount" />
                        </div>
                        <div class="col-md-9">
                           
                            <nop-editor asp-for="Amount"  asp-value="@Model.Amount" />
                            <span asp-validation-for="Amount"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-3">
                            <nop-label asp-for="MonthlyRepayment" />
                        </div>
                        <div class="col-md-9">
                            <label id="MonthlyRepayment"></label>


                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-9 offset-md-3">
                            <div class="input-group input-group-short">
                                <div class="input-group-text">
                                    <button type="submit" name="Calculate" id="calculate-emi" class="btn btn-primary">
                                        @T("Plugin.Calculator.EMI.Fields.Calculate")
                                    </button>
                                </div>

                            </div>
                        </div>
                        <script>
            $(document).ready(function() {
                $("#calculate-emi").click(function(){
                    var repayemt = $("#MonthlyRepayment");
                    var emiModel = {
                        Month: $("#@Html.IdFor(model => model.Month) option:selected").val(),
                        Rate: @Model.Rate,
                        Amount: $("#@Html.IdFor(model => model.Amount)").val()
                       
                    }
                    addAntiForgeryToken(emiModel);

                    $.ajax({
                        cache: false,
                        type: "POST",
                       url: "@(Url.Action("Calculate", "EMI"))",
                        data: emiModel,
                        dataType: "json",
                        success: function (data, textStatus, jqXHR) {
                            debugger;
                            console.log(data);
                            repayemt.html(data.Total);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }

                    });
                });
            });
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
